@import "../../../Styles/Mixins.scss";
@import "../../../Styles/Variables.scss";

.container {
  @include container();
  margin-top: 3rem;
}

.car {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img {
  img {
    width: 100%;
  }
}

.carDetails {
  background-color: $light-color;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  p {
    border-bottom: 1px solid #adb5bd;
    padding-bottom: 1rem;

    span {
      font-weight: $semi-bold-font-weight;
    }
  }
}
