@import "../../Styles/Mixins.scss";
@import "../../Styles/Variables.scss";

.testimonials {
  padding: 12rem 0;
  background-color: $light-color;
}

.container {
  @include container();
}

h2 {
  @include heading(4.6rem, 9rem, 1);
  text-align: center;
}

.slider {
  padding: 1rem;
}
