@import "../../../Styles/Mixins.scss";
@import "../../../Styles/Variables.scss";

.addTestimonial {
  max-width: 40%;
  padding: 1rem;
  margin: 4rem auto 2rem auto;
  border: solid #ced4da 1px;
  border-radius: 20px;
  @include flex-center();
}

.textarea {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-family: inherit;
}

.submitBtn {
  @include btn();
  display: block;
  margin: 1rem auto 2rem auto;
}
